################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/QuickInspect/v15
/packages
/QuickInspect/bin/Debug
/QuickInspect/obj/Debug
/QuickInspect.Tests/bin/Debug
/QuickInspect.Tests/obj/Debug
*.user
